body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.email {
    padding:5px;
}

.navbar-inverse {
    background-color:#c0d3ff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #2b6afe;
}

.navbar-inverse .navbar-brand {
    color: #2b6afe;
}

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: #0000ff;
    }

    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        color: #000;
        background-color: transparent;
    }

    .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
        color: #000;
        background-color: transparent;
    }

    .article {
        margin-top:50px;
    }

    .aside {
        float:right;
        width:25%;
        display:block;
    }

/*.navbar-nav > li > a {
   color:red;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: red;
    background-color: transparent;
}*/

.dropdown {
    position:relative;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #292b2c;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 3px 1.5rem;
    clear: both;
    font-weight: 400;
    color: #292b2c;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
}

.projectInfo {
    margin: 0 0 6px 18px;
    font-weight:normal;
}

.projectHeader {
    font-size:x-large;
}

.projectYears {
    font-size:x-small;
}

.projectTagSelected {
    font-weight:bold;
    color:blue;
}

.projectTagUnselected {
    font-weight:normal;
    color:black;
}

.tagSelection {
    margin: 6px 12px;
    border: 0;
    box-shadow: none;
    border-radius: 0px;
}