@{
    ViewBag.Title = "Home Page";
}

<div class="outerDiv">
    <div class="article main">
        <p>
            I am a professional developer specializing in business applications built with .Net framework.
            This site is my playground for experiments with various things that require online presence.
            There may not be much here, but I'm always busy with something. Check out the links for my blogs.
        </p>
        <p>I posess skills in the following technologies:</p>
        <ul>
            <li>C#</li>
            <li>SQL</li>
            <li>ASP.Net MVC/Web Forms</li>
            <li>Universal Windows Platform: <a href="https://www.microsoft.com/en-us/search/result.aspx?q=yevgeller">my apps in Windows Store</a></li>
            <li>JavaScript</li>
            <li>Angular.js</li>
            <li>jQuery</li>
            <li>Source control systems (Git, SVN, TFS)</li>
            <li>Test-Driven Development</li>
            <li>Agile Project Management</li>
            <li>Anything else that requires coding or other type of tinkering</li>
        </ul>
        <p>I have the following certifications:</p>
        <ul>
            <li>CompTIA Security+</li>
            <li>CompTIA Network+</li>
            <li>Certified ScrumMaster&reg; </li>
            <li>Certified Scrum Product Owner&reg;</li>
            <li>ITIL Foundations</li>
        </ul>
        <p>
            I speak English, Russian, some German, and a little Japanese.
        </p>
        <p>You can see what I have done or am working on in my spare time @Html.ActionLink("here", "Index", "Projects").</p>
    </div>
    <div class="article sideBar">
        <ul>
            <li><a href="http://stackoverflow.com/users/65691/eugene">My stackoverflow.com profile</a></li>
            <li><a href="https://github.com/yevgeller">My github page</a></li>
            <li><a href="http://yevgeller.blogspot.com/">Programming blog</a></li>
            <li><a href="http://eugenegeller.blogspot.com/">Travel blog</a></li>
        </ul>
    </div>
</div>